/* General */

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    color: cadetblue;
}

.fond {
    background: url(taxi-nyc_0.jpg) no-repeat center center;
    /* Ajout fixed a la fin pour le même fond d'écran */
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
    width: 100%;
    height: 1000px;
    position: relative;
}
.layer {
    background-color: rgba(0, 0, 0, 0.7);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}
/* ACCEUIL */

.image {
    width: 120px;
    height: auto;
}
#inside1 {
    display: block;
    text-align: center;
    padding-top: 35%;
}

/* PRESENTATION */

#inside2 {
    display: block;
    text-align: center;
    padding-top: 20%;
    width: 80%;
    margin-left: 10%;
}

/* MEMBRES */



/* VENTE */



/* FOOTER */

#footer {
	background-color: black;
	color: white;
	text-align: center;
	font-size: 1rem;
	font-weight: bold;
}
