#acceuil {
    background-image: url(taxi-nyc_0.jpg);
    width: 100%;
    height: 800px;
}
.image {
    width: 120px;
    height: auto;
}
#inside {
    display: block;
    text-align: center;
    padding-top: 30%;
}
#acceuil h1 {
    color: white;
}